<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vacaciones en Tropea: todo lo que necesitas saber</title>
    {# <meta name="author" content="name" /> #}
    <meta name="description" content="¡Prepárate para tus vacaciones en Tropea y Calabria! Qué hacer, cómo llegar, consejos y sugerencias para unas vacaciones de ensueño en la Italia más auténtica." />
    <meta name="keywords" content="Vacaciones en Tropea,Viajes a Tropea,Tropea,Tropea Italia,Tropea Calabria" />
{#     <link
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
 #}    <!--Replace with your tailwind.css once created-->

    {% if config.debug %}
    <link rel="stylesheet" href="http://127.0.0.1:9010/main.css" />
    {% else %}
    <link rel="stylesheet" href="/main.css" />
    {% endif %}
  
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <nav id="header" class="fixed w-full z-10 top-0">
      <div
        id="progress"
        class="h-1 z-20 top-0"
        style="
          background: linear-gradient(
            to right,
            #4dc0b5 var(--scroll),
            transparent 0
          );
        "
      ></div>

      <div
        class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3"
      >
        <div class="pl-4">
          <a
            class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl"
            href="#"
          >
            Tropea.es
          </a>
        </div>

        <div class="block lg:hidden pr-4">
          <button
            id="nav-toggle"
            class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none"
          >
            <svg
              class="fill-current h-3 w-3"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>

        <div
          id="nav-content"
          class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20"
        >
{#           <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
              <a
                class="inline-block py-2 px-4 text-gray-900 font-bold no-underline"
                href="#"
              >
                Active
              </a>
            </li>
            <li class="mr-3">
              <a
                class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
                href="#"
              >
                Link
              </a>
            </li>
            <li class="mr-3">
              <a
                class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
                href="#"
              >
                Link
              </a>
            </li>
          </ul>
 #}        </div>
      </div>
    </nav>

    <!--Container-->
    <div class="container w-full md:max-w-3xl mx-auto pt-20">
      <div
        class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal"
        style="font-family: Georgia, serif"
      >
        <!--Title-->
        <div class="font-sans">
{#           <span class="text-base md:text-sm text-teal-500 font-bold">&lt;</span>
          <a
            href="#"
            class="text-base md:text-sm text-teal-500 font-bold no-underline hover:underline"
          >
            BACK TO BLOG
          </a>
 #}

          <h1
            class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
          >
          Vacaciones en Tropea: consejos de viaje y tips
          </h1>
          <p class="text-sm md:text-base font-normal text-gray-600">
            {# Published 19 February 2019 #}
          </p>
        </div>
        <!--Lead Para-->
        <p class="py-6">

{% apply markdown_to_html %}

¡Por fin han llegado las vacaciones! Cuando piensas en Italia, seguramente pensarás en Venecia, Roma o Florencia, pero probablemente no has oído hablar mucho de Calabria. Esta región del sur de Italia es, de hecho, un lugar muy característico aún lejos de los grandes flujos turísticos. Si para tus vacaciones buscas un lugar auténtico, rico en cultura, tradiciones culinarias y paisajes increíbles, Tropea es para ti.
<br/><br/>

Tropea se encuentra en el sur de Italia, precisamente en **la región de Calabria**. Las orígenes de Tropea son tan antiguas que se pierden en el tiempo. La leyenda dice que fue fundada por Hércules, quien primero fundó el puerto y luego creó la ciudad según el deseo de los dioses.
<br/><br/>

La ciudad de Tropea está anidada en la hermosa **Costa degli Dei**, un tramo de Calabria famoso por su hermosa costa de arenas doradas y aguas claras. Tropea es un destino ideal para los amantes de la playa y para disfrutar de impresionantes puestas de sol en el horizonte del mar cada noche. También te sorprenderá ver en el horizonte, entre los colores rojos del atardecer, el volcán Stromboli de las islas Eolias. ¡Una vista romántica que no olvidarás!
<br/><br/>

Si para este verano has elegido **viajar a Calabria** prepárate para descubrir un territorio único, rico en bellezas naturales, cultura y delicias gastronómicas. Sigue leyendo para descubrir todo lo que necesitas saber para tus vacaciones en Tropea y Calabria.
<br/><br/>

## ¿Qué ver en Tropea? Consejos para tu viaje

Para saber lo que hay que hacer en Tropea primero debes entender su peculiar morfología. La ciudad está dividida en dos niveles. La parte superior es el pueblo habitado donde hay muchas tiendas, restaurantes, pequeñas plazas y calles pintorescas por las que pasear. La parte inferior se llama la _Marina_ y está situada cerca del mar y las playas y del puerto turístico.
<br/><br/>

El primer vistazo a Tropea te dejará sin palabras. La parte superior de la ciudad fue construida sobre **una roca con vistas al mar** a una altura de unos 50 metros sobre el suelo. En la antigüedad, de hecho, la parte habitada estaba protegida por muros y era accesible sólo a través de las puertas del país. Desde la parte alta de la ciudad, la vista se extiende de un lado a las hermosas playas y de el otro a la iglesia de **Santa Maria dell'Isola** , el símbolo de la ciudad.
<br/><br/>

Para disfrutar de tus vacaciones en Tropea te recomendamos que explores las bellezas del pueblo. Haz un paseo por el casco antiguo y por el Corso Vittorio Emanuele con sus tiendas y bares, asomate a los balcones del pueblo para disfrutar de las hermosas vistas al mar y a la iglesia. También te recomendamos que vayas a la iglesia para disfrutar de una vista inolvidable. Tendrás que salir unos escalones, pero te aseguramos que vale la pena.
<br/><br/>

Tropea también es famosa por sus hermosas playas, no puedes perderte **las playas del Cannone y la playa de la Rotonda**. Si también quieres explorar y alejarte del centro puedes llegar fácilmente a las magníficas playas de la Costa degli dei. A sólo tres kilómetros de Tropea se encuentra el pueblo de Parghelia y la maravillosa **playa de Michelino**, famosa por su arena fina, aguas cristalinas y un camino que conduce a un impresionante mirador.
<br/><br/>

## Preguntas frecuentes sobre las vacaciones en Tropea

### ¿Cómo llegar a Tropea?

El aeropuerto más cercano a Tropa es el **Aeropuerto de Lamezia Terme**, que está a 57 km de distancia.Hay vuelos directos desde Madrid o, alternativamente, es posible hacer una escala en el aeropuerto de Roma Fiumicino, desde donde salen regularmente vuelos a Lamezia Terme.
<br/><br/>

### ¿Cuánto tiempo se necesita para ver Tropea?

Para visitar las bellezas de Tropea y explorar los pueblos y playas de los alrededores te recomendamos al menos una semana.
<br/><br/>

### ¿Cuál es la mejor fecha para ir a Tropea?

La primavera y el otoño son muy buenas épocas para explorar los pueblos, hacer senderismo y descubrir la gastronomía local. Si quieres disfrutar de las playas te recomendamos los meses de junio, julio y agosto (no te olvides que en Italia agosto es temporada alta).
<br/><br/>

### ¿Qué comer en Tropea?

La cocina calabresa se caracteriza por platos genuinos de la mejor tradición italiana. Te aconsejamos que pruebes el pescado fresco, pero también los platos principales a base de pasta y los embutidos y quesos locales. Finalmente, debes probar el famoso licor Amaro del Capo.

## ¿Cuales son los mejores _tours_ y escapadas desde Tropea?

Te aconsejamos que explores las maravillosas playas de la Costa degli Dei: Capo Vaticano, Parghelia, Zambrone, Grotticelle... También puedes visitar la pintoresca ciudad de Pizzo o, si te apetece la aventura, llegar a las Islas Eolias en Sicilia en ferry.

{% endapply %}
          </p>


{#         <blockquote
          class="border-l-4 border-teal-500 italic my-8 pl-8 md:pl-12"
        >
          Example of blockquote - Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet
          ligula.
        </blockquote>
 #}        <!--/ Post Content-->
      </div>

      <!--Tags -->
{#       <div class="text-base md:text-sm text-gray-500 px-4 py-6">
        Tags:
        <a
          href="#"
          class="text-base md:text-sm text-teal-500 no-underline hover:underline"
        >
          Link
        </a>
        .
        <a
          href="#"
          class="text-base md:text-sm text-teal-500 no-underline hover:underline"
        >
          Link
        </a>
      </div>
 #}
      <!--Divider-->
      {# <hr class="border-b-2 border-gray-400 mb-8 mx-4" /> #}

      <!--Subscribe-->
{#       <div class="container px-4">
        <div class="font-sans bg-white rounded-lg shadow-md p-4 text-center">
          <h2 class="font-bold break-normal text-xl md:text-3xl">
            Subscribe to my Newsletter
          </h2>
          <h3
            class="font-bold break-normal font-normal text-gray-600 text-sm md:text-base"
          >
            Get the latest posts delivered right to your inbox
          </h3>
          <div class="w-full text-center pt-4">
            <form action="#">
              <div
                class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center"
              >
                <input
                  type="email"
                  placeholder="youremail@example.com"
                  class="flex-1 mt-4 appearance-none border border-gray-400 rounded shadow-md p-3 text-gray-600 mr-2 focus:outline-none"
                />
                <button
                  type="submit"
                  class="flex-1 mt-4 block md:inline-block appearance-none bg-teal-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-teal-400"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
 #}      <!-- /Subscribe-->

      <!--Author-->
{#       <div class="flex w-full items-center font-sans px-4 py-12">
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="http://i.pravatar.cc/300"
          alt="Avatar of Author"
        />
        <div class="flex-1 px-2">
          <p class="text-base font-bold text-base md:text-xl leading-none mb-2">
            Jo Bloggerson
          </p>
          <p class="text-gray-600 text-xs md:text-base">
            Minimal Blog Tailwind CSS template by
            <a
              class="text-teal-500 no-underline hover:underline"
              href="https://www.tailwindtoolbox.com"
              >TailwindToolbox.com</a
            >
          </p>
        </div>
        <div class="justify-end">
          <button
            class="bg-transparent border border-gray-500 hover:border-teal-500 text-xs text-gray-500 hover:text-teal-500 font-bold py-2 px-4 rounded-full"
          >
            Read More
          </button>
        </div>
      </div>
 #}      <!--/Author-->

      <!--Divider-->
{#       <hr class="border-b-2 border-gray-400 mb-8 mx-4" />
 #}
      <!--Next & Prev Links-->
{#       <div class="font-sans flex justify-between content-center px-4 pb-12">
        <div class="text-left">
          <span class="text-xs md:text-sm font-normal text-gray-600"
            >&lt; Previous Post</span
          ><br />
          <p>
            <a
              href="#"
              class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline"
            >
              Blog title
            </a>
          </p>
        </div>
        <div class="text-right">
          <span class="text-xs md:text-sm font-normal text-gray-600">
            Next Post &gt;
          </span>
          <br />
          <p>
            <a
              href="#"
              class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline"
            >
              Blog title
            </a>
          </p>
        </div>
      </div>
 #}
      <!--/Next & Prev Links-->
    </div>
    <!--/container-->

    <footer class="bg-white border-t border-gray-400 shadow">
      <div class="container max-w-4xl mx-auto flex py-8">
        <div class="w-full mx-auto flex flex-wrap">
          <div class="flex w-full md:w-1/2">
            <div class="px-8">
{#               <h3 class="font-bold text-gray-900">About</h3>
              <p class="py-4 text-gray-600 text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse
                consectetur dapibus velit ut lacinia.
              </p>
 #}            </div>
          </div>

{#           <div class="flex w-full md:w-1/2">
            <div class="px-8">
              <h3 class="font-bold text-gray-900">Social</h3>
              <ul class="list-reset items-center text-sm pt-3">
                <li>
                  <a
                    class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                    href="#"
                  >
                    Add social link
                  </a>
                </li>
                <li>
                  <a
                    class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                    href="#"
                  >
                    Add social link
                  </a>
                </li>
                <li>
                  <a
                    class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                    href="#"
                  >
                    Add social link
                  </a>
                </li>
              </ul>
            </div>
          </div>
 #}

        </div>
      </div>
    </footer>

    <script>
      /* Progress bar */
      // Source: https://alligator.io/js/progress-bar-javascript-css-variables/
      var h = document.documentElement,
        b = document.body,
        st = 'scrollTop',
        sh = 'scrollHeight',
        progress = document.querySelector('#progress'),
        scroll;
      var scrollpos = window.scrollY;
      var header = document.getElementById('header');
      var navcontent = document.getElementById('nav-content');

      document.addEventListener('scroll', function () {
        /* Refresh scroll % width */
        scroll = ((h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight)) * 100;
        progress.style.setProperty('--scroll', scroll + '%');

        /* Apply classes for slide in bar */
        scrollpos = window.scrollY;

        if (scrollpos > 10) {
          header.classList.add('bg-white');
          header.classList.add('shadow');
          navcontent.classList.remove('bg-gray-100');
          navcontent.classList.add('bg-white');
        } else {
          header.classList.remove('bg-white');
          header.classList.remove('shadow');
          navcontent.classList.remove('bg-white');
          navcontent.classList.add('bg-gray-100');
        }
      });

      // Javascript to toggle the menu
      document.getElementById('nav-toggle').onclick = function () {
        document.getElementById('nav-content').classList.toggle('hidden');
      };
    </script>


{% if config.debug %}

<!-- Code injected by live-server -->
<script type="text/javascript">
  // <![CDATA[  <-- For SVG support
  if ('WebSocket' in window) {
    (function() {
      function refreshCSS() {
        var sheets = [].slice.call(document.getElementsByTagName("link"));
        var head = document.getElementsByTagName("head")[0];
        for (var i = 0; i < sheets.length; ++i) {
          var elem = sheets[i];
          head.removeChild(elem);
          var rel = elem.rel;
          if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
            var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
            elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
          }
          head.appendChild(elem);
        }
      }
      var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
      var address = protocol + "localhost:9010/ws";
      var socket = new WebSocket(address);
      socket.onmessage = function(msg) {
        if (msg.data == 'reload') window.location.reload();
        else if (msg.data == 'refreshcss') refreshCSS();
      };
      console.log('Live reload enabled.');
    })();
  }
  // ]]>
</script>
{% endif %}



  </body>
</html>



{# {% extends '_templates/main.twig' %}

{% block content %}

    <div class="my-20 text-center">
        <h1 class="text-6xl font-bold text-indigo-600">
            Tailwind CSS<br>
            <span class="text-3xl text-gray-800">Docker Playground</span>
        </h1>
        <a href="https://github.com/chrislentz/tailwindcss-docker-playground" class="inline-block my-16 px-5 py-3 shadow-lg border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
            Learn More
        </a>
    </div>


{% endblock %} #}